.masked-text{
    -webkit-mask-image: url(leagueoflegends.png);
    mask-image: url(leagueoflegends.png);
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;  
}

.maskcharacterimage {
    -webkit-mask-image: url(Paintv2.png);
    mask-image: url(Paintv2.png);
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; 
}

.backgroundforchr {
    background-image: url(Thresh.gif);
    filter: blur(25px);
    background-repeat: no-repeat;
    background-size: cover;
}

.DotButton {
    background-color: #1efff9;
}

.DotButtonActive {
    background-color: #daa520;
}