.sidebar-background{
    background-image: url(./mysterious.gif);
}

.whole-page {
    scroll-timeline: --page_progress;
}

.scroll-progressbar{
    transform-origin: left;
    z-index: 10;
    scale: 0 1;
    animation: auto scrollwatcher linear forwards;
    animation-timeline: --page_progress;
}

@keyframes scrollwatcher {
    to { scale: 1 1; }
}