.sidebar-background{
    background-image: url(./mysterious.gif);
}

.page-progress {
    scroll-timeline: --page_progress vertical;
}

.scroll-progressbar{
    transform-origin: left;
    z-index: 10;
    scale: 0 1;
    animation: scrollwatcher linear forwards;
    animation-timeline: --page-scroll;
}

@keyframes scrollwatcher {
    to { scale: 1 1; }
}